<div class="container">
   <div class="icons">
      <button mat-icon-button aria-label="iconButton" (click)='upvote()' style="color: green;">
        {{quote.likes}}
        <mat-icon>thumb_up_alt</mat-icon>
      </button>
      <button mat-icon-button aria-label="iconButton" (click)='downvote()' style="color: red;">
        {{quote.dislikes}}
        <mat-icon>thumb_down_alt</mat-icon>
      </button>
      <button  mat-icon-button aria-label="iconButton" (click)="quoteDelete(true)" style="color: #8F160B;">
        <mat-icon>delete</mat-icon>
      </button>
   </div>
</div> 
